{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h4 class="d-flex justify-content-center mt-3 text-light">Registrando Sala de Cinema</h4>
<div class="card container" style="background-color: rgb(91, 17, 102); border-color: rgb(78, 16, 87);">
    <div class="card-body">
        <form action="/admin/register/movieTheater/new" method="POST">
            <div class="mb-3">
                <label for="number" class="form-label text-light">Numero da sala</label>
                <input type="number" name="number" class="form-control" placeholder="Insira o numero da sala" required>
            </div>
            <div class="mb-3">
                <label for="seats" class="form-label text-light">Numero de Assentos</label>
                <input type="number" name="seats" class="form-control" placeholder="Insira o numero de assentos" required>
            </div>
           <div class="mb-3">
            <label for="type" class="form-label text-light">Tipo de sala</label>
                 <select class="form-select form-select-lg" name="type" aria-label=".form-select-lg example" required>
                    <option selected></option>
                    <option value="Normal" >Normal</option>
                    <option value="3D">3D</option>
                    <option value="4D">4D</option>
                    <option value="VIP">VIP</option>
                </select>
           </div>
           <button type="submit" class="btn btn-primary ">Registrar</button>
        </form>
    </div>
</div>
