<div class="container px-4 text-center mt-4">
    <div class="row gx-5">
        <div class="col">
            <a href="/admin/register/session"><button type="submit" class="btn btn-primary p-4" style="width: 12rem;">Adicionar Sessão</button></a>
        </div>
        <div class="col">
            <a href="/admin/register/movie"><button type="submit" class="btn btn-primary p-4" style="width: 12rem;">Adicionar Filme</button></a>
        </div>
        <div class="col">
            <a href="/admin/register/movieTheater"><button type="submit" class="btn btn-primary p-4" style="width: 12rem;">Adicionar Sala</button></a>
        </div>
        <div class="col">
            <a href="/admin/edit"><button type="submit" class="btn btn-primary p-4" style="width: 12rem;">Editar</button></a>
        </div>
    </div>
</div>