<div class="container text-center">
  <div class="row">
    <div class="col-sm">
        {{#each movies}}
            <div class="card mt-3" style="width: 18rem;">
                <img src="{{wallpaper}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" style="white-space: normal; width: 30ch; overflow: hidden; text-overflow: clip; height: 20ch">{{synopsis}}</p>
                </div>
            </div>
        {{else}}
            <h5>Nenhuma postagem</h5>
        {{/each}}
    </div>
  </div>
</div>